<div class="register-container">
  <h2>Crear cuenta</h2>

  <form (ngSubmit)="submit()">
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre completo" required />
    <input type="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />

    <button type="submit">Crear cuenta</button>
  </form>

  <p *ngIf="error" class="error">{{ error }}</p>

  <div class="link-to-login">
    <a routerLink="/login" style="color: blue; text-decoration: underline; cursor: pointer;">
      ¿Ya tienes una cuenta? Inicia sesión
    </a>
  </div>
</div>
